name: Build and Release

on:
  push:
    paths:
      - 'cpp/opengl/**'
  workflow_dispatch: # Allows triggering from REST endpoint

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
        
      - name: Build Docker image
        run: |
          cd cpp/opengl
          docker build -t cpp-opengl -f .devops/Dockerfile.linux .
          
      - name: Create Release
        id: create_release
        uses: softprops/action-gh-release@v1
        with:
          tag_name: 'v1.0.0' # You can set this dynamically as needed
          release_name: 'Release v1.0.0'
          draft: false
          prerelease: false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
