name: C++ OpenGL Build

on:
  push:
    paths:
      - 'cpp/opengl/**'
  workflow_dispatch: # Allows triggering from REST endpoint

jobs:
  build:
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set Environment Variables
        run: |
          echo "DEBIAN_FRONTEND=noninteractive" >> $GITHUB_ENV
          echo "TZ=America/New_York" >> $GITHUB_ENV
          echo "VCPKG_ROOT=/opt/vcpkg" >> $GITHUB_ENV

      - name: Install system dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y --no-install-recommends \
            build-essential \
            cmake \
            gdb \
            git \
            curl \
            unzip \
            zip \
            ca-certificates \
            pkg-config \
            libxmu-dev \
            libxi-dev \
            libgl-dev \
            libglu1-mesa-dev \
          && sudo rm -rf /var/lib/apt/lists/*

      - name: Clone vcpkg
        run: git clone https://github.com/Microsoft/vcpkg.git $VCPKG_ROOT

      - name: Bootstrap vcpkg
        run: |
          cd $VCPKG_ROOT
          ./bootstrap-vcpkg.sh -disableMetrics
          if [ ! -e /usr/local/bin/vcpkg ]; then
            sudo ln -s $VCPKG_ROOT/vcpkg /usr/local/bin/vcpkg
          fi

      - name: Install dependencies
        run: |
          cd $GITHUB_WORKSPACE
          vcpkg install  # Installs from vcpkg.json

      - name: Build project
        run: |
          cd cpp/opengl
          cmake -S src -B build --preset debug
          cmake --build build --config Debug

      - name: Create zip file
        run: |
          cd cpp/opengl
          zip -r release.zip build/app* data

      # Step to create a GitHub Release
      - name: Create Release
        id: create_release
        uses: softprops/action-gh-release@v1
        with:
          tag_name: v1.0.0  # Change tag name as needed
          release_name: Release v1.0.0  # Change release name as needed
          draft: false
          prerelease: false
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      # Step to upload the zip file as a release asset
      - name: Upload Release Asset
        uses: softprops/action-gh-release@v1
        with:
          tag_name: v1.0.0  # Ensure this matches the tag
          files: cpp/opengl/release.zip  # Specify the zip file path
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
