# This is a sample yaml to demonstrate one job setting an output varibale that is used by another job 
# References:
# - https://docs.github.com/en/actions/reference/workflows-and-actions/contexts
name: GHW - Output Variables 

on:
  workflow_dispatch: # Manual trigger of the workflow
  push:
    branches:
      - master-branch-that-doesnt-exists

jobs:
  job1:
    runs-on: ubuntu-latest
    outputs:
      outvar: ${{steps.publish.outputs.outvar}}
    steps:
      - name: Publish Variable
      - id: publish # this is required for reference when publishing "outvar" 
        run: echo "outvar=Test123 >> $GITHUB_OUTPUT"

  job2:
    needs: job1
    runs-on: ubuntu-latest
    steps:
      - name: Print Variable
        run: echo "The value of outvar is ${{needs.outputs.outvar}}"
