# This is a sample yaml file with the most basic github workflow
name: Hello World

on:
  workflow_dispatch: # Manual trigger of the workflow
  push:
    branches:
      - master-branch-that-doesnt-exists

jobs:
  main_task:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Say Hello
        run: echo "Hello, World!"

  side_task:
    runs-on: ubuntu-latest
    steps:
      - name: Side Task
        run: echo "This is a side task, it runs parallel to the main_task"
    

  post_task:
    runs-on: ubuntu-latest
    needs: main_task
    steps:
      - name: Post Task
        run: echo "This task runs after main_task"
